{% load static %}

<style>
  .nav-link.active,
  .nav-link:hover {
    color: #fff;
    background-color: rgb(212, 210, 210);
  }
</style>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Offcanvas navbar large">
  <div class="container">
    <img src="{% static 'logo/logopng.png' %}" class="rounded float-start" width="60" height="60">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbar2Label">ODMS</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body ">
        <ul class="navbar-nav mt-2 justify-content-sm-end  flex-grow-1 pe-3 col-lg-auto">
          <li class="nav-item ">
            <a class="nav-link px-2 text-primary" aria-current="page" href="{% url 'home' %}" style="{{ home_state }}">Home</a>
          </li>
          {% if user.is_admin %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle px-2 text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Category / Departments
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'category' %}"><i class="bi bi-intersect"></i>&nbsp;&nbsp;Document Type</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'department' %}"><i class="bi bi-briefcase-fill"></i>&nbsp;&nbsp;Department/Office</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'history_logs' %}"><i class="bi bi-clock-history"></i>&nbsp;&nbsp;Document Status</a></li>
            </ul>
          </li>
          {% endif %}
          <li class="dropdown">
            <a class="nav-link dropdown-toggle px-2 text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Documents
            </a>
            <ul class="dropdown-menu ">
              <li>
                <a class="dropdown-item " href="{% url 'document' %}">
                  <i class="bi bi-cloud-arrow-up"></i>&nbsp;&nbsp;Outgoing Documents
                
                </a>
              </li>
              <li><a class="dropdown-item" href="{% url 'incoming_document' %}"><i class="bi bi-cloud-arrow-down"></i>&nbsp;&nbsp;Incoming Documents</a></li>
            </ul>
          </li>
          {% if user.is_admin %}
          <li class="nav-item">
            <a class="nav-link px-2 text-white" href="{% url 'account' %}" style="{{ account_state }}">User Accounts</a>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;
          {% endif %}
          <li class="nav-item">
            <a class="nav-link px-2 text-white" href="{% url 'activity_history' %}" style="{{ history_state }}" >
              <i class="bi bi-bell-fill"></i>&nbsp;<span class="badge text-bg-danger"  hx-get="/notification/count" hx-trigger="every 1s"></span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{ user.profile_picture.url }}" alt="profile picture" width="30" height="30" class="rounded-circle">
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'profile' %}">
                <i class="bi bi-person-fill"></i>&nbsp;Profile</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/logout">
                <i class="bi bi-box-arrow-right"></i>&nbsp;Sign out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
